* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  letter-spacing: '1px';
  font-family: 'JakartaSans';
  background: #fcfbf8;
  text-align: center;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

img {
  width: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-family: 'Pirata';
  font-size: 142px;
  font-weight: 400;
  color: #fdf8e7;
  margin: 0;
  letter-spacing: 2px;
  text-align: left;
}

h2 {
  font-family: 'Pirata';
  font-size: 88px;
  font-weight: 400;
  color: #cac6ba;
  margin: 0 0 32px;
  letter-spacing: 2px;
}

h3 {
  font-family: 'Pirata';
  font-size: 64px;
  font-weight: 400;
  color: #cac6ba;
  margin: 0 0 32px;
  letter-spacing: 2px;
}

.subtitle {
  font-weight: 400;
  font-size: 32px;
}
.body {
  font-weight: 400;
  font-size: 16px;
  color: #292823;
  line-height: 1.5em;
}
.bold {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5em;
}
button {
  font-weight: 600;
  font-size: 16px;
}
.small {
  font-weight: 600;
  font-size: 12px;
}

.white {
  color: #fcfbf8;
}

.pointer {
  cursor: pointer;
}

/* Imgs */
.bg-catalan {
  background-image: url(./assets/imgs/catalonia.png);
}
.bg-spanish {
  background-image: url(./assets/imgs/spain.png);
}
.bg-english {
  background-image: url(./assets/imgs/united-kingdom.png);
}
.bg-french {
  background-image: url(./assets/imgs/france.png);
}

.bg-home {
  background-image: url(./assets/imgs/portada.webp);
}

/* Fonts */
@font-face {
  font-family: 'Pirata'; /*Can be any text*/
  src: local('Pirata'),
    url('./assets/fonts/PirataOne-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'JakartaSans'; /*Can be any text*/
  src: local('JakartaSans'),
    url('./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf')
      format('truetype');
}
